#      WEB SCRAPING – ASSIGNMENT 2 using selenium

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [103]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [104]:
#to know path----------testing purpose starts----
#import os
#import sys
#os.path.dirname(sys.executable)

In [105]:
#for testing purpose
#from time import sleep
#from selenium import webdriver
# this is tested on Chrome or you can use "webdriver.Chrome()"
#browser = webdriver.Chrome()
#browser.get('https://www.youtube.com/')
#sleep(5)
#browser.close()
#-------------------testing purpose ends----------
#print("selenium sucessfully installed........")

In [106]:
#importing libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [107]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [108]:
# lets first connect to the driver --this is also one of the mwthod do connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [109]:
# opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [110]:
# entering designation and location as requred in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analysis')

In [111]:
#entering location as required in the question
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [112]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [113]:
job_title=[]
job_location=[]
company_name=[]
exprerience_required=[]

In [114]:
# Scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#Scraping Job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#Scraping Job Experience form the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    experience=i.text
    exprerience_required.append(experience)

In [115]:
print(len(job_title),len(company_name),len(job_location),len(exprerience_required))

10 10 10 10

In [116]:
#Creating DataFrame from above data
df=pd.DataFrame({'Job_Title':job_title,'Company_Name':company_name,'Job_Location':job_location,'ExperienceRequired':exprerience_required})
#print DataFrame
df

,Job_Title,Company_Name,Job_Location,ExperienceRequired
0,Data and Analytics Analyst,IBM,Bangalore/Bengaluru,2-5 Yrs
1,Senior Analyst - Data Management,Accenture,Bangalore/Bengaluru,5-8 Yrs
2,Analyst- Web Data Management,Sigma Aldrich Chemicals,Bangalore/Bengaluru,0-1 Yrs
3,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,2-4 Yrs
4,Project Data Analyst,WSP,Bangalore/Bengaluru,0-4 Yrs
5,Data Analyst,Treebo Hotels,Temp. WFH - Bangalore/Bengaluru,1-5 Yrs
6,Executive - Data Analyst,Flipkart,Bangalore/Bengaluru,1-5 Yrs
7,Data Transformation Analyst I,IHS Markit,Bangalore/Bengaluru,1-6 Yrs
8,Senior Data Analyst - Data Modeling/Quality,Get My Parking,Bangalore/Bengaluru,4-9 Yrs
9,Senior Data Analyst,Yallas Technology Solutions Opc,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",2-7 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [719]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [720]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [721]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [722]:
# opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [723]:
# entering designation and location as requred in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [724]:
#entering location as required in the question
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [725]:
#clicking the Search button
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [726]:
job_title=[]
job_location=[]
company_name=[]
exprerience_required=[]

In [727]:
# Scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#Scraping Job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#Scraping Job Experience form the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    experience=i.text
    exprerience_required.append(experience)

In [728]:
print(len(job_title),len(company_name),len(job_location),len(exprerience_required))

10 10 10 10

In [729]:
#Creating DataFrame from above data
df=pd.DataFrame({'Job_Title':job_title,'Company_Name':company_name,'Job_Location':job_location,'ExperienceRequired':exprerience_required})
#print DataFrame
df

,Job_Title,Company_Name,Job_Location,ExperienceRequired
0,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",6-8 Yrs
1,Data Scientist,Tata Nexarc,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",4-8 Yrs
2,Data Scientist,Tech Mahindra,"Bangalore/Bengaluru, Nagpur, Pune",5-8 Yrs
3,"Data & Analytics Lead, Geo Analytics - GAMMA",Boston Consulting Group,Bangalore/Bengaluru,7-10 Yrs
4,Weather and Climate Data Scientist,Shell Pvt Ltd,Bangalore/Bengaluru,5-12 Yrs
5,Data Scientist,Mindtree,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",5-10 Yrs
6,Data Scientist - II,Bizongo,"Bangalore/Bengaluru, India, Mumbai (All Areas)",3-6 Yrs
7,Senior Data Scientist,Baker Hughes,"Bangalore/Bengaluru, Mumbai",6-8 Yrs
8,Manager-Data Science,AMERICAN EXPRESS,Bangalore/Bengaluru,3-4 Yrs
9,ACN - Applied Intelligence - Data Scientist - 09,Accenture,Bangalore/Bengaluru,2-6 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [191]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [192]:
#importing liabries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support import expected_conditions as EC

In [193]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [194]:
# opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [195]:
# entering designation and location as requred in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [196]:
#entering location as required in the question
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [197]:
#clicking the Search button
search1=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search1.click()

In [198]:
# clicking the checkbox for salary where salary is  "3-6"Lakes
checkbox_salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
checkbox_salary.click()

# clicking the checkbox for Location where Location is  “Delhi/NCR”
#checkbox_location=driver.find_element(By.PATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[13]/div[3]/div[2]/div[1]/div/div[1]/div[4]/label/i")
#checkbox_location.click()

In [199]:
# clicking the checkbox for Location where Location is  “Delhi/NCR”
checkbox_location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[13]/div[2]/div[4]/label/i")
checkbox_location.click()

In [200]:
j_title=[]
j_loc=[]
j_company_name=[]
j_experience_req=[]

In [201]:
# Scraping Job title from the given page
j_title_tags1=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in j_title_tags1[0:10]:
    title=i.text
    j_title.append(title)

In [202]:
#Scraping Job location from the given page
j_loc_tags1=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in j_loc_tags1[0:10]:
    location=i.text
    j_loc.append(location)

In [203]:
#Scraping company name from the given page
j_c_name_tags1=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in j_c_name_tags1[0:10]:
    comp_name=i.text
    j_company_name.append(comp_name)

In [204]:
#Scraping experience required from the given page

experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    experience=i.text
    j_experience_req.append(experience)

In [205]:
print(len(j_title),len(j_loc),len(j_company_name),len(j_experience_req))

10 10 10 10

In [208]:
#Creating DataFrame from above data
df3=pd.DataFrame({'Job_Title':j_title,'Company_Name':j_company_name,'Job_Location':j_loc,'ExperienceRequired':j_experience_req})
#print DataFrame
df3

,Job_Title,Company_Name,Job_Location,ExperienceRequired
0,Artificial Intelligence/Computer Vision Engine...,Vicara,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs
1,Data Activation Specialist - Adobe Target,Okda Solutions,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",7-10 Yrs
2,Data Scientist - Engine Algorithm,Primo Hiring,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs
3,Data Scientist,NGI Ventures,Temp. WFH - Noida,1-5 Yrs
4,Opening For Jr. Data Scientist with Tatras Dat...,Tatras Data Services,Delhi / NCR,2-4 Yrs
5,Data Scientist,torcai digital media,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",2-7 Yrs
6,Data Scientist,Americana Restaurants (india),Gurgaon/Gurugram,3-8 Yrs
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Digilytics,Gurgaon/Gurugram,2-5 Yrs
8,Data Scientist | Boutique AI and data consulti...,unnati,"Noida, New Delhi, Gurgaon/Gurugram",2-7 Yrs
9,Data Scientist,Alliance Recruitment Agency,Noida,3-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually

In [322]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [323]:
#import required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support import expected_conditions as EC

In [324]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [325]:
# opening the naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")
#Closing login page
close = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close.click()

In [326]:
#Entering “sunglasses” in the search field where “search for products, brands and more” is written 
item=driver.find_element(By.CLASS_NAME,"_3704LK")
item.send_keys("Sunglasses")

In [328]:
#click the search icon
search1 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button").click()
driver.maximize_window()

In [329]:
#scraping data from this page
Brand=[]
ProductDescription=[]
Price=[]

In [330]:
#scraping page 1 data attribute Brand_tags
#scraping Brand name from this page
#all tags object is created that has decribed the product Brand using driver.find_elements function
Brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
#for  all tags object  created
for i in Brand_tags:
    #name is retrive using object Brand_tags
    name = i.text
    #retrived Brand name is stored in Brand list
    Brand.append(name)

In [331]:
#scraping page 1 data attribute Product_description
#scraping ProductDescription from the web page
#all tags object is created that has decribed the product describtion using driver.find_elements function
Product_desc_tags = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
#for all tags object created
for i in Product_desc_tags:
    #decription retirved using the object Product_desc_tags
    Description = i.text
    #retrived Product Description is stored in ProductDescription list
    ProductDescription.append(Description)
#to check whaeather code is working correct just try to print it
#print(ProductDescription)

In [332]:
#scraping page 1 data attribute Price
#Scraping th Price from the web page
Price_tags = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
#for all tags object is created
for i in Price_tags:
    #price retrived using the object Price_tags
    mrp=i.text
    #retrived Price is stored in List Price
    Price.append(mrp)
#print(Price)

In [333]:
print(len(Brand),len(ProductDescription),len(Price))

40 40 40

In [334]:
try:
    #Scroll down    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    
    #go to next page by creating object of next page and calling click() method  to go to the next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
    next_button.click()
    
    #scroll up
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)

except Exception as e:
    print(e)

Message: element click intercepted: Element <a class="ge-49M" href="/search?q=Sunglasses&amp;otracker=search&amp;otracker1=search&amp;marketplace=FLIPKART&amp;as-show=off&amp;as=off&amp;page=...">2</a> is not clickable at point (707, 16). Other element would receive the click: <button class="L0Z3Pu" type="submit">...</button>
  (Session info: chrome=108.0.5359.99)
Stacktrace:
Backtrace:
	(No symbol) [0x0076F243]
	(No symbol) [0x006F7FD1]
	(No symbol) [0x005ED04D]
	(No symbol) [0x006228B9]
	(No symbol) [0x006208CC]
	(No symbol) [0x0061E4CB]
	(No symbol) [0x0061D164]
	(No symbol) [0x006132A6]
	(No symbol) [0x0063858C]
	(No symbol) [0x00612BFF]
	(No symbol) [0x00638804]
	(No symbol) [0x0064C9EB]
	(No symbol) [0x00638386]
	(No symbol) [0x0061163C]
	(No symbol) [0x0061269D]
	GetHandleVerifier [0x00A09A22+2655074]
	GetHandleVerifier [0x009FCA24+2601828]
	GetHandleVerifier [0x00818C0A+619850]
	GetHandleVerifier [0x00817830+614768]
	(No symbol) [0x007005FC]
	(No symbol) [0x00705968]
	(No symbol) [0x00705A55]
	(No symbol) [0x0071051B]
	BaseThreadInitThunk [0x76F1FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77717BBE+286]
	RtlGetAppContainerNamedObjectPath [0x77717B8E+238]

In [335]:
#scraping Data of page 2

#scraping Brand name from this page
#all tags object is created that has decribed the product Brand using driver.find_elements function
Brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
#for  all tags object  created
for i in Brand_tags:
    #name is retrive using object Brand_tags
    name = i.text
    #retrived Brand name is stored in Brand list
    Brand.append(name)
    
#scraping ProductDescription from the web page
#all tags object is created that has decribed the product describtion using driver.find_elements function
Product_desc_tags = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
#for all tags object created
for i in Product_desc_tags:
    #decription retirved using the object Product_desc_tags
    Description = i.text
    #retrived Product Description is stored in ProductDescription list
    ProductDescription.append(Description)
#to check whaeather code is working correct just try to print it
#print(ProductDescription)   

#Scraping th Price from the web page
Price_tags = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
#for all tags object is created
for i in Price_tags:
    #price retrived using the object Price_tags
    mrp=i.text
    #retrived Price is stored in List Price
    Price.append(mrp)
#print(Price)

In [336]:
print(len(Brand),
len(ProductDescription),
len(Price))

80 80 80

In [338]:
#scraping Data of page 3
#scraping Brand name from this page
#all tags object is created that has decribed the product Brand using driver.find_elements function
Brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
#for  all tags object  created
for i in Brand_tags[0:20]:
    #name is retrive using object Brand_tags
    name = i.text
    #retrived Brand name is stored in Brand list
    Brand.append(name)
    
#scraping ProductDescription from the web page
#all tags object is created that has decribed the product describtion using driver.find_elements function
Product_desc_tags = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
#for all tags object created
for i in Product_desc_tags[0:20]:
    #decription retirved using the object Product_desc_tags
    Description = i.text
    #retrived Product Description is stored in ProductDescription list
    ProductDescription.append(Description)
#to check whaeather code is working correct just try to print it
#print(ProductDescription)   

#Scraping th Price from the web page
Price_tags = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
#for all tags object is created
for i in Price_tags[0:20]:
    #price retrived using the object Price_tags
    mrp=i.text
    #retrived Price is stored in List Price
    Price.append(mrp)
#print(Price)

In [339]:
print(len(Brand),
len(ProductDescription),
len(Price))

100 100 100

In [340]:
df4=pd.DataFrame({"Brand":Brand[0:100],
"ProductDescription":ProductDescription[0:100],
"Price":Price[0:100]})

In [341]:
df4

             Brand                                 ProductDescription Price
0   ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹549
1    VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹806
2       LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...  ₹129
3        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
4         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹599
..             ...                                                ...   ...
95      LIZA ANGEL  UV Protection, Polarized Rectangular Sunglasse...  ₹129
96   VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹719
97   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹949
98            SRPM             UV Protection Wayfarer Sunglasses (50)  ₹149
99       Elligator                UV Protection Round Sunglasses (54)  ₹286

[100 rows x 3 columns]

In [296]:
df4.head(16)

                Brand                                 ProductDescription Price
0      ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹549
1       VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹806
2          LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...  ₹129
3            Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹489
4            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹599
5           Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
6          PHENOMENAL         UV Protection Retro Square Sunglasses (53)  ₹129
7      ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹398
8           Elligator                UV Protection Round Sunglasses (53)  ₹149
9   SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  ₹159
10     ROZZETTA CRAFT              UV Protection Aviator Sunglasses (55)  ₹649
11       Singco India  Gradient, Toughened Glass Lens, UV Protection ...  ₹597
12          Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹129
13           Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹539
14               SRPM             UV Protection Wayfarer Sunglasses (50)  ₹149
15          Elligator                UV Protection Round Sunglasses (53)  ₹149

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manuall

In [342]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [343]:
#importing required libraries
#import required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support import expected_conditions as EC

In [347]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [348]:
# opening the naukri page on automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=APPLE+iPhone+11+%28Black%2C+64+GB%29&store=tyy%2F4io&spotlightTagId=BestsellerId_tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=d7a238c9-3ab3-4908-bfe6-d68f8861a521.MOBFWQ6BXGJCEYNY.SEARCH&ppt=sp&ppn=sp&ssid=flrlc3h7b40000001670706388561&qH=3230bb64f5cac56a")

In [349]:
#Scroll to Pixel 42000 of Webpage
driver.execute_script("window.scrollTo(0,4000)")

In [350]:
#to click on All 10215 reviews drop down list of reviews
#go the that location
allrevstag=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span")
#calling click() method of selenium
allrevstag.click()
driver.maximize_window()

In [354]:
#function defination for scraping all attributes i.e.Rating,Review_summary,Full_review
#empty lists to save retrived data elements

def RatingFunction(Rating,Review_summary,Full_review):
    Rating = []
    Review_summary = []
    Full_review = []

    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))

In [355]:
#Scraping page 1 data
try:
    #Scraping page 1 data
    #RatingFunction(Rating,Review_summary,Full_review)
    Rating = []
    Review_summary = []
    Full_review = []

    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #Scroll down
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #click on page no.2
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]")
    next_button.click()
    #Scroll up
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Scraping page 2 data
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #scroll down 
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Go to next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[3]")
    next_button.click()
    #Scroll up    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Scraping page 3 data
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #scroll down 
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Go to next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]")
    next_button.click()
    #Scroll up    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Scraping page 4 data
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #scroll down 
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Go to next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]")
    next_button.click()
    #Scroll up    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Scraping page 5 data
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #scroll down 
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Go to next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]")
    next_button.click()
    #Scroll up    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Scraping page 6 data
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #scroll down 
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Go to next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]")
    next_button.click()
    #Scroll up    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Scraping page 7 data
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #scroll down 
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    # Go to next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[8]")
    next_button.click()
    #Scroll up    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Scraping page 8 data
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #scroll down 
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Go to next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[9]")
    next_button.click()
    #Scroll up    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Scraping page 9 data
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #scroll down 
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Go to next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[10]")
    next_button.click()
    #Scroll up    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Scraping page 10 data
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    #scroll down 
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #Go to next page
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()
    #Scroll up    
    js = 'window.scrollTo(0, document.documentElement.scrollHeight)'
    driver.execute_script(js)
    time.sleep(3)
    #RatingFunction(Rating,Review_summary,Full_review)
    #scraping rating,Review_summary,Full_review
    r_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for j in r_tags:
        R = j.text
        Rating.append(R)
    #print(len(Rating))

    #Scraping Review_summary
    review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for j in review_tags:
        R_text = j.text
        Review_summary.append(R_text)
    #print(len(Review_summary))

    #scraping Full review
    fulrevtags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for j in fulrevtags:
        F_R_text = j.text
        Full_review.append(F_R_text)
    #print(len(Full_review))
    
except Exception as e:
    print(e)

In [359]:
print(len(Rating),len(Review_summary),len(Full_review)) #some entires are blank

108 110 110

In [360]:
df5=pd.DataFrame({"Rating":Rating[0:100],"Review":Review_summary[0:100],"FullReview_Summary":Full_review[0:100]})
df5

,Rating,Review,FullReview_Summary
0,5,Just wow!,Got delivered by good packing from Flipkart wi...
1,5,Fabulous!,Iphone is best ever but Flipkart delivered is ...
2,5,Mind-blowing purchase,Quite osm more then expected . Purple color tr...
3,5,Just wow!,My first iPhone. Still wondering where was I l...
4,5,Worth every penny,PROS:\n1. Ballistic performance\n2. Amazing im...
...,...,...,...
95,4,Just wow!,iPhone 11 is good but if someone want Superior...
96,5,Super!,"Everything good as expected from Apple, but on..."
97,5,Good choice,Great product as usual. Handy phone with best ...
98,5,Wonderful,"Works seamlessly, I get an avg 1.5 days batter..."
99,4,Great product,Terrific!!! Lucky to get this phone in first l...

In [361]:
df5.head(20)

,Rating,Review,FullReview_Summary
0,5,Just wow!,Got delivered by good packing from Flipkart wi...
1,5,Fabulous!,Iphone is best ever but Flipkart delivered is ...
2,5,Mind-blowing purchase,Quite osm more then expected . Purple color tr...
3,5,Just wow!,My first iPhone. Still wondering where was I l...
4,5,Worth every penny,PROS:\n1. Ballistic performance\n2. Amazing im...
5,5,Just wow!,iPhone 11 is good but if someone want Superior...
6,5,Super!,"Everything good as expected from Apple, but on..."
7,4,Good choice,Great product as usual. Handy phone with best ...
8,5,Wonderful,"Works seamlessly, I get an avg 1.5 days batter..."
9,5,Great product,Terrific!!! Lucky to get this phone in first l...
10,4,Value-for-money,As usual a great product from Apple. but the l...
11,5,Terrific,Good buy.. working perfectly !\n\nThat was upg...
12,4,Value-for-money,After 20 days above writing this review\n\nI a...
13,4,Wonderful,Bought iphone 11 last month. I must say that t...
14,5,Terrific purchase,Very good phone. All the apps are running smoo...
15,5,Perfect product!,Awesome Product. Initially I was looking for g...
16,5,Great product,This iphone 11 by apple is simply amazing . Io...
17,5,Fabulous!,This is my first I phone and I'm very happy to...
18,5,Classy product,Finally switched to iOS from android\nThere is...
19,5,Perfect product!,Excellent service by Flipkart. The phone is tr...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [167]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [168]:
#import required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support import expected_conditions as EC

In [169]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [170]:
# opening the flipkart page on automated chrome browser
driver.get("https://flipkart.com")
#Closing login page
close = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close.click()

In [171]:
#Entering “sneakers” in the search field where “search for products, brands and more” is written 
item=driver.find_element(By.CLASS_NAME,"_3704LK")
item.send_keys("sneakers")
#click the search icon
search1 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button").click()

In [172]:
#scraping data from this page
Brand=[]
ProductDescription=[]
Price=[]

In [173]:
#scraping page 1 data
#scraping Brand name from this page
#all tags object is created that has decribed the product Brand using driver.find_elements function
Brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
#for  all tags object  created
for i in Brand_tags:
    #name is retrive using object Brand_tags
    name = i.text
    #retrived Brand name is stored in Brand list
    Brand.append(name)

In [174]:
#scraping page 1 data
#scraping ProductDescription from the web page
#all tags object is created that has decribed the product describtion using driver.find_elements function
Product_desc_tags = driver.find_elements(By.XPATH,"//div[@class='_2B099V']")
#for all tags object created
for i in Product_desc_tags:
    #decription retirved using the object Product_desc_tags
    Description = i.text
    #retrived Product Description is stored in ProductDescription list
    ProductDescription.append(Description)
#to check whaeather code is working correct just try to print it
#print(ProductDescription)

In [175]:
#scraping page 1 data
#Scraping th Price from the web page
Price_tags = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
#for all tags object is created
for i in Price_tags:
    #price retrived using the object Price_tags
    mrp=i.text
    #retrived Price is stored in List Price
    Price.append(mrp)
#print(Price)

In [176]:
print(len(Brand),len(ProductDescription),len(Price))

40 40 40

In [177]:
#go to next page by creating object of next page and calling click() method  to go to the next page
next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
next_button.click()

In [178]:
#scraping Data of page 2

#scraping Brand name from this page
#all tags object is created that has decribed the product Brand using driver.find_elements function
Brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
#for  all tags object  created
for i in Brand_tags:
    #name is retrive using object Brand_tags
    name = i.text
    #retrived Brand name is stored in Brand list
    Brand.append(name)
    
#scraping ProductDescription from the web page
#all tags object is created that has decribed the product describtion using driver.find_elements function
Product_desc_tags = driver.find_elements(By.XPATH,"//div[@class='_2B099V']")
#for all tags object created
for i in Product_desc_tags:
    #decription retirved using the object Product_desc_tags
    Description = i.text
    #retrived Product Description is stored in ProductDescription list
    ProductDescription.append(Description)
#to check whaeather code is working correct just try to print it
#print(ProductDescription)   

#Scraping th Price from the web page
Price_tags = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
#for all tags object is created
for i in Price_tags:
    #price retrived using the object Price_tags
    mrp=i.text
    #retrived Price is stored in List Price
    Price.append(mrp)
#print(Price)

In [179]:
print(len(Brand),len(ProductDescription),len(Price))

80 80 80

In [180]:
#go to next page by creating object of next page and calling click() method  to go to the next page
next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
next_button.click()

In [181]:
#scraping Data of page 3

#scraping Brand name from this page
#all tags object is created that has decribed the product Brand using driver.find_elements function
Brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
#for  all tags object  created
for i in Brand_tags[0:20]:
    #name is retrive using object Brand_tags
    name = i.text
    #retrived Brand name is stored in Brand list
    Brand.append(name)
    
#scraping ProductDescription from the web page
#all tags object is created that has decribed the product describtion using driver.find_elements function
Product_desc_tags = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
#for all tags object created
for i in Product_desc_tags[0:20]:
    #decription retirved using the object Product_desc_tags
    Description = i.text
    #retrived Product Description is stored in ProductDescription list
    ProductDescription.append(Description)
#to check whaeather code is working correct just try to print it
#print(ProductDescription)   

#Scraping th Price from the web page
Price_tags = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
#for all tags object is created
for i in Price_tags[0:20]:
    #price retrived using the object Price_tags
    mrp=i.text
    #retrived Price is stored in List Price
    Price.append(mrp)
#print(Price)

In [182]:
print(len(Brand),
len(ProductDescription),
len(Price))

100 100 100

In [183]:
df6=pd.DataFrame({"Brand":Brand,
"ProductDescription":ProductDescription,
"Price":Price})
df6

,Brand,ProductDescription,Price
0,RED CHIEF,"RED CHIEF\nRC3522 107 Sneakers For Men\n₹2,294...","₹2,294"
1,RED CHIEF,"RED CHIEF\nRC3483 022 Sneakers For Men\n₹2,067...","₹2,067"
2,Labbin,Labbin\nSneakers For Men\n₹399₹99960% off\nFre...,₹399
3,Shozie,Shozie\nSneakers For Men\n₹295₹99970% off\nFre...,₹295
4,aadi,aadi\nMesh | Ultralightweight | Comfortable | ...,₹359
...,...,...,...
95,World Wear Footwear,Sneakers For Men,₹259
96,RapidBox,Sneakers For Men,₹599
97,Mast & Harbour,"Casuals, Canvas, Partywear Sneakers For Men",₹824
98,Kraasa,Sneakers For Women,₹449
99,Deals4you,Sneakers For Men,₹398

# Q7: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [393]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [394]:
#import required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support import expected_conditions as EC

In [395]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [396]:
# opening the amazon page on automated chrome browser
driver.get("http://www.amazon.in")
driver.maximize_window()

In [397]:
#Entering “ iphone 10” in the search field where “search for products, brands and more” is written 
item7=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
item7.send_keys("Laptop")
#click the search icon
search7 = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input").click()

In [398]:
# clicking the checkbox for  set CPU Type filter to “Intel Core i7”

checkbox_CPU_Type=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[12]/span/a/div/label/i")
checkbox_CPU_Type.click()

In [400]:
#for scraping
Title = []   #empty list to store Title of top 10 model
Ratings = [] #Empty list to store Rating of top 10 model
Price = []

In [401]:
#Scraping top 10 Laptop models Ratings

#all page contents where name is Title of Lapto
title_tags = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
#Scraping top 10 Laptop models Title
for i in title_tags[0:10]:
    name = i.text
    Title.append(name)
#print(len(Title))

#create object for whole page rating tags 
Rating_tags = driver.find_elements(By.XPATH,"//span[@class='a-size-base']")
for i in Rating_tags[0:10]:
    #retrive text in object is stored into rtng variable
    rtng=i.text
    #List for Rating is appended
    Ratings.append(rtng)
#print(len(Ratings))

#Scraping Price
price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    prc=i.text
    Price.append(prc)
#print(len(price_tags))

In [402]:
#check len of all attribute elements should be same to create dataframe
print(len(Title),len(Ratings),len(Price ))

10 10 10

In [403]:
#Create a Data Frame by passing directory using pandas DataFrame method/function
df7 = pd.DataFrame({"Laptop Name":Title,"Ratings":Ratings,"Price":Price})
df7

                                         Laptop Name Ratings     Price
0  Acer Predator Helios 300 Gaming Laptop Intel C...   (3.9)  1,15,990
1  Dell New Alienware x15 R2 Gaming Laptop, Intel...   (4.2)  3,56,600
2  ASUS Zenbook Pro 14 Duo OLED (2022) Dual Scree...   (4.7)  2,14,990
3  HP Omen 12th Gen Intel Core i9-12900HX 17.3 in...   (3.9)  3,39,500
4  Acer Predator Helios 300 Gaming Laptop Intel C...   (5.0)  1,49,990
5  Acer Predator Helios 300 Gaming Laptop Intel C...   (3.7)  1,89,990
6  MSI Raider GE67 HX 12UHS,Intel 12th Gen. Core ...   (3.0)  4,29,990
7  Dell G15-5521 Gaming Laptop, i9-12900H, 16GB D...   (3.1)  1,81,833
8  Acer Predator Helios 500 Gaming Laptop (11Th G...   (4.7)  4,32,435
9  Hp Envy 15- 11Th Gen Intel Core I9/32Gb/1Tb Ss...   (1.0)  1,87,990

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [404]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [405]:
#import required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support import expected_conditions as EC

In [406]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [407]:
# opening the azquotes page on automated chrome browser
driver.get("https://www.azquotes.com/")
#time.sleep(20)
driver.maximize_window()

In [408]:
#for clicking on to the top quotes first click on drop down list
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a").click()

In [409]:
#For selecting Top Quotes option 
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a").click()

In [410]:
#Creating empty list to store scraped data
Quote = [] 
Author = []
TypeOf_Quotes = []

In [411]:

#Scraping Quote
quotes_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quotes_tags:
    quote_text = i.text
    Quote.append(quote_text)

#Scraping Author
author_tag = driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tag:
    name = i.text
    Author.append(name)
#print(Author)

#Scraping TypeOfQuotes
TypeofQ_tags = driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in TypeofQ_tags:
    about = i.text
    TypeOf_Quotes.append(about)

#for i in Type_of_Quotes:
#pprint(Type_of_Quotes)
#Click on next button
  #  driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a").click()
#print(len(Quote))

In [412]:
print(len(Quote),len(Author),len(TypeOf_Quotes))

100 100 100

In [413]:
df8=pd.DataFrame({"Quote":Quote,"Author":Author,"Type_Of_Quotes":TypeOf_Quotes})
df8

,Quote,Author,Type_Of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q9: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead,Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame

In [176]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [177]:
#import library
#import required libraries
import selenium
import pandas as pd
import re
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from pprint import pprint
from selenium.webdriver.support import expected_conditions as EC

In [178]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [179]:
# opening the azquotes page on automated chrome browser
driver.get("https://www.jagranjosh.com/")

In [180]:
GK_optiontag=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
GK_optiontag.click()

In [181]:
PrimeOFIND_tag=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
PrimeOFIND_tag.click()

In [182]:
#Scroll down the page 
#Scroll to Pixel 42000 of Webpage
driver.execute_script("window.scrollTo(0,1600)")
driver.maximize_window()

In [183]:
heading=[]#empty list to keep Columns names
#leadge table for all enteries i.e. tablebody
leadgefor_rows = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr")

#for printing heading
header_row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[1]")
for title in header_row:
    title=(title.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    heading.append(title)
#print(heading)

all_rows = []
#for printing row no.2
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[2]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)
#print(all_rows)

#for printing row no.3
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[3]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.4
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[4]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)


#for printing row no.5
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[5]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)


#for printing row no.6
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[6]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)


#for printing row no.7
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[7]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)


#for printing row no.8
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[8]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)


#for printing row no.9
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[9]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.10
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[10]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)


#for printing row no.11
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[11]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.12
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[12]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.13
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[13]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.14
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[14]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.15
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[15]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.16
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[16]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.17
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[17]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.18
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[18]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#for printing row no.19
row = driver.find_elements(By.XPATH,"//div[@class='table-box']//table//tbody//tr[19]")
for detail in row:
    detail=(detail.text).rstrip("\n") #convert the element to text and strip
    #append clean column name to headings
    all_rows.append(detail)

#df9=pd.DataFrame({"header":heading,"Data":all_rows)
#print(len(all_rows))

#create a Data Frame 
print("The List of all Prime Ministers of India")
cleanall_rows = []
#print("Original List:   "+str(all_rows))
# Replace substring in list of strings
#rec = [sub.replace('\n','  ') for sub in all_rows]
#cleanall_rows = rec.split()
#print("\n\nModified   : "+str(rec))
#print("****length of list",len(rec))

cleanall_rows=rec

df9=pd.DataFrame({"    SN. Name Born-Dead_Year Term of office Remark":cleanall_rows})
df9

The List of all Prime Ministers of India

        SN. Name Born-Dead_Year Term of office Remark
0   1.  Jawahar Lal Nehru  (1889–1964)  15 August ...
1   List of International Awards received by Naren...
2   2.  Gulzarilal Nanda (Acting)  (1898-1998)  27...
3   3.  Lal Bahadur Shastri  (1904–1966)  9 June 1...
4   4.   Gulzari Lal Nanda  (Acting)  (1898-1998) ...
5   5.  Indira Gandhi  (1917–1984)  24 January 196...
6   6.  Morarji Desai  (1896–1995)  24 March 1977 ...
7   7.  Charan Singh  (1902–1987)  28 July 1979 to...
8   8.  Indira Gandhi  (1917–1984)  14 January 198...
9   9.  Rajiv Gandhi  (1944–1991)  31 October 1984...
10  10.  V. P. Singh  (1931–2008)  2 December 1989...
11  11.  Chandra Shekhar  (1927–2007)  10 November...
12  12.  P. V. Narasimha Rao  (1921–2004)  21 June...
13  13.  Atal Bihari Vajpayee  (1924- 2018)  16 Ma...
14  14.  H. D. Deve Gowda  (born 1933)  1 June 199...
15  15.  Inder Kumar Gujral  (1919–2012)  21 April...
16  16.  Atal Bihari Vajpayee  (1924-2018)  19 Mar...
17  17.  Manmohan Singh  (born 1932)  22 May 2004 ...
18  18.  Narendra Modi  (born 1950)  26 May 2014 -...

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name ,Description and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make th

In [434]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\atharv\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atharv\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [435]:
#import library
#import required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from pprint import pprint
from selenium.webdriver.support import expected_conditions as EC

In [436]:
# first connect to the driver
driver = webdriver.Chrome(r"C:\Users\Atharv\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [437]:
# opening the azquotes page on automated chrome browser
driver.get("https://www.motor1.com/")

In [438]:
#to click on drop down list option
dwltags = driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")
dwltags.click()

In [439]:
#for clicking/selecting Features from list
featuretag = driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")
featuretag.click()

In [440]:
#for select LISTS 
lst_tag=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
lst_tag.click()

In [441]:
#to click on the 50 Most Expensive cars in the world
mostexpcartags=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a")
mostexpcartags.click()

In [446]:
CarName = []
Price = []
Car_details = []

#print("\n50 Most Expensive Cars In The WorldPage_heading")
#scroll down 

allcartags = driver.find_elements(By.XPATH,"//h3[@class='subheader']")
#scraping top 50 most expensive Car Names
for i in allcartags[0:50]:
    name = i.text
    CarName.append(name)
#print(len(CarName))#Cheaking purpose

#Scraping price
for i in allcartags[0:50]:
    prc= driver.find_elements(By.XPATH,"/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p/strong")
    for j in prc:
        daam = j.text
        Price.append(daam)
#print(Price)

#Scraping Description
for i in allcartags[0:50]:
    desctag = driver.find_elements(By.XPATH,"/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p")
    for j in desctag:
        carinfo = j.text
        Car_details.append(carinfo)
#print(len(Car_details))

In [447]:
#print and check if all attributes elements are same in number
print(len(CarName),len(Price),len(Car_details))

50 2550 5150

In [451]:
df10=pd.DataFrame({"Car_Name":CarName[0:50],"Price":Price[0:50],"Detail_Information":Car_details[0:50]})
#print(df10)
df10

,Car_Name,Price,Detail_Information
0,Drako GTE,Price: $1.2 Million,When it comes to high-end hypercars and super-...
1,De Tomaso P72,Price: $1.3 Million,But in order to find out which of these unatta...
2,Ferrari LaFerrari,Price: $1.4 Million,"We should note, though: The prices listed here..."
3,Pagani Huayra,Price: $1.4 Million,Price: $1.2 Million
4,McLaren Elva,,The Drako GTE is a super sedan in every sense ...
5,Czinger 21C,Price: $1.7 Million,Price: $1.3 Million
6,Ferrari Monza,Price: $1.7 Million,The De Tomaso P72 is basically the definition ...
7,Gordon Murray T.33,Price: $1.7 Million,Price: $1.4 Million
8,Koenigsegg Gemera,Price: $1.7 Million,"At $1.4 million new, the Ferrari LaFerrari is ..."
9,Zenvo TSR-S,Price: $1.7 Million,Price: $1.4 Million
10,Hennessey Venom F5,Price: $1.7 Million,Inarguably one of the prettiest cars on this l...
11,Bentley Bacalar,Price: $1.8 Million,Price: $1.7 Million
12,Hispano Suiza Carmen Boulogne,Price: $1.9 Million,The McLaren Elva is one of the latest addition...
13,Bentley Mulliner Batur,Price: $1.9 Million,Price: $1.7 Million
14,Deus Vayanne,Price: $2.0 Million,"You might not know the name Czinger yet, but t..."
15,SSC Tuatara,Price: $2.0 Million,Price: $1.7 Million
16,Lotus Evija,Price: $2.0 Million*,"Much like the roof-less McLaren Elva, the Ferr..."
17,Aston Martin Vulcan,Price: $2.1 Million,Price: $1.7 Million
18,Delage D12,Price: $2.3 Million,The second and slightly more affordable superc...
19,McLaren Speedtail,Price: $2.3 Million,Price: $1.7 Million
20,Rimac Nevera,Price: $2.3 Million,"One of two Koenigsegg models on this list, the..."
21,Pagani Utopia,Price: $2.4 Million,Price: $1.7 Million
22,Pininfarina Battista,Price: $2.5 Million,"Hailing from Denmark, the Zenvo TSR-S debuted ..."
23,Ferrari FXX K Evo,Price: $2.5 Million,Price: $1.8 Million
24,Gordon Murray T.50,Price: $2.6 Million,"The Hennessey Venom GT was a record-breaker, t..."
25,Lamborghini Countach,Price: $2.6 Million,Price: $1.9 Million
26,Mercedes-AMG Project One,Price: $2.6 Million,"With just 12 total units produced, the Bentley..."
27,Aston Martin Victor,Price: $2.7 Million,Price: $1.9 Million
28,Hennessey Venom F5 Roadster,Price: $3.0 Million,To call the Hispano Suiza Carmen Boulogne beau...
29,Koenigsegg Jesko,$3.0 Million,Price: $2.0 Million
30,Aston Martin Valkyrie,Price: $3.0 Million,The electric onslaught is coming. Bentley says...
31,W Motors Lykan Hypersport,Price: $3.2 Million,Price: $2.0 Million
32,McLaren Solus,Price: $3.4 Million,The Deus Vayanne may not be a household name (...
33,Pagani Huayra Roadster BC,$3.5 Million,Price: $2.0 Million*
34,Bugatti Chiron Pur Sport,Price: $3.5 Million,"Although initially cloaked in controversy, SSC..."
35,Lamborghini Sian,Price: $3.6 Million,Price: $2.1 Million
36,Koenigsegg CC850,Price: $3.6 million,With a new Emira sports car and an Eletre elec...
37,Bugatti Chiron Super Sport 300+,Price: $3.7 Million,Price: $2.3 Million
38,Lamborghini Veneno,Price: $3.9 Million,"As with a few other cars on this list, the Ast..."
39,Bugatti Bolide,Price: $4.5 Million,Price: $2.3 Million
40,Bugatti Mistral,Price: $4.7 Million,You may have heard of Delage before. In the ea...
41,Pagani Huayra Imola,Price: $5.0 Million,Price: $2.3 Million
42,Bugatti Divo,Price: $5.4 Million,What would you pay for the fastest production ...
43,SP Automotive Chaos,Price: $5.8 Million,Price: $2.4 Million
44,Pagani Codalunga,Price: $6.4 Million,The Rimac Nevera takes the title of most expen...
45,Mercedes-Maybach Exelero,Price: $7.4 Million,Price: $2.5 Million
46,Bugatti Centodieci,Price: $8.0 Million,"First came the Zonda, then the Huayra, and now..."
47,Rolls-Royce Sweptail,Price: $9.0 Million,Price: $2.5 Million
48,Bugatti La Voiture Noire,Price: $12.8 Million,"Aptly named after the company’s founder, Batti..."
49,Rolls-Royce Boat Tail*,Price: $13.4 Million,Price: $2.6 Million